
.ar7s		{ font-family: Arial, Sans-Serif; font-size:  7pt; color: #000000; text-decoration: none; }
.ar7w		{ font-family: Arial, Sans-Serif; font-size:  7pt; color: #FFFFFF; text-decoration: none; }

.ar8s		{ font-family: Arial, Sans-Serif; font-size:  8pt; color: #000000; text-decoration: none; }
.ar8w		{ font-family: Arial, Sans-Serif; font-size:  8pt; color: #FFFFFF; text-decoration: none; }

.ar9s		{ font-family: Arial, Sans-Serif; font-size:  11px; color: #000000; text-decoration: none; }
.ar9sb		{ font-family: Arial, Sans-Serif; font-size:  11px; font-weight: bold; color: #000000; text-decoration: none; }
.ar9w		{ font-family: Arial, Sans-Serif; font-size:  11px; color: #FFFFFF; text-decoration: none; }

.ar11s		{ font-family: Arial, Sans-Serif; font-size: 11pt; color: #FFFFFF; text-decoration: none; }
.ar11w		{ font-family: Arial, Sans-Serif; font-size: 11pt; color: #FFFFFF; text-decoration: none; }

.ar14s		{ font-family: Arial, Sans-Serif; font-size: 14pt; color: #000000; text-decoration: none; }
.ar14w		{ font-family: Arial, Sans-Serif; font-size: 14pt; color: #FFFFFF; text-decoration: none; }

.ar18s		{ font-family: Arial, Sans-Serif; font-size: 18pt; color: #000000; text-decoration: none; }
.ar18w		{ font-family: Arial, Sans-Serif; font-size: 18pt; color: #FFFFFF; text-decoration: none; }

.ar24w		{ font-family: Arial, Sans-Serif; font-size: 24pt; color: #FFFFFF; }
.ar24s		{ font-family: Arial, Sans-Serif; font-size: 24pt; color: #000000; }

.head		{ font-family: Arial, Sans-Serif; font-size: 14pt; font-weight: bold; color: #007FFF; text-decoration: none; }
.list			{ font-family: Arial, Sans-Serif; font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none; }
.kontaktlinks	{ font-family: Arial, Sans-Serif; font-size: 10px; font-weight: bold; color: #CC0000; text-decoration: none; }
.kontaktrechts	{ font-family: Arial, Sans-Serif; font-size: 10px; font-weight: bold; color: #007FFF; text-decoration: none; }
.partnerEFEFEF	{ font-family: Arial, Sans-Serif; font-size: 11px; color: #000000; text-decoration: none; }
.partner007FFF	{ font-family: Arial, Sans-Serif; font-size: 11px; color: #FFFFFF; text-decoration: none; }
.partnerHead	{ font-family: Arial, Sans-Serif; font-size: 18px; font-weight: bold; color: #007FFF; text-decoration: none; padding-left: 10px; }
.partnerDetail	{ font-family: Arial, Sans-Serif; font-size: 14px; font-weight: bold; color: #000000; text-decoration: none; padding-left: 20px; }

.teamEFEFEF	{ font-family: Arial, Sans-Serif; font-size: 11px; color: #000000; text-decoration: none; }
.team007FFF	{ font-family: Arial, Sans-Serif; font-size: 11px; color: #FFFFFF; text-decoration: none; }
.teamHead	{ font-family: Arial, Sans-Serif; font-size: 13px; font-weight: bold; color: #007FFF; text-decoration: none; }
.teamDetail	{ font-family: Arial, Sans-Serif; font-size: 10px; font-weight: bold; color: #000000; text-decoration: none; }

